body{ background:#666; }

div#audio_player{ width:450px; height:60px; margin:100px auto 100px auto;background: url(../images/audio_player/audio-skin3.png) no-repeat; border-radius:4px;}
div#audio_controls{ margin-left:66px; }
div#audio_controls>button{
	border:none;
	cursor:pointer;
	outline:none;
	display:block;
	float:left;
	margin:22px 10px 0px 0px; }

div#audio_controls>input{outline:none;
	display:block;
	float:left;
	margin:24px 10px 0px 0px;
}

button#playpausebtn{
	background:url(../images/audio_player/pause_12px.png) no-repeat;
	width:12px;
	height:14px;
}
button#mutebtn{
	background:url(../images/audio_player/speaker_muted_12px.png) no-repeat;
	width:5px;
	height:14px;
}
#playlist_status {
	display: block;
	float: left;
	margin:30px auto 100px auto;
}
input#seekslider{
	width:100px;
}
input#volumeslider{
	width: 70px;
}
div#timebox{
	margin: 23px 10px 0px 0px;
	float: left;
	width:80px;
	background:#000;
	border-bottom: #444 1px solid;
	text-align:center;
	color: #09F; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
}
#curtimetext,#durtimetext {
    display: inline-block;
    text-align: center;
    font-size: 9px;
}
input[type='range'] {
    -webkit-appearance: none !important;
	margin:0px;
	padding:0px;
    background: #000;
    height:13px;
	border-bottom:#333 1px solid;
}
input[type='range']::-ms-fill-lower  {
	background:#000;
}
input[type='range']::-ms-fill-upper  {
	background:#000;
}
input[type='range']::-moz-range-track {
	border:none;
    background: #000;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: radial-gradient(#FFF, #333);
    height:11px;
    width:11px;
	border-radius:100%;
	cursor:pointer;
}
input[type='range']::-moz-range-thumb {
    background: radial-gradient(#FFF, #333);
    height:11px;
    width:11px;
	border-radius:100%;
	cursor:pointer;
}
input[type='range']::-ms-thumb {
    -webkit-appearance: none !important;
    background: radial-gradient(#FFF, #333);
    height:11px;
    width:11px;
	border-radius:100%;
	cursor:pointer;
