/*Used for displaying images input canvas added for my code*/
.carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
    width: 30%;
    margin:auto;
    border:solid 4px black;
}

body {
    background-color:aliceblue;
}   


/*change background color jumbotron*/
div.jumbotron {
    background-color:azure;
    /*background:transparent !important*/
}

