<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="weather.Master.cs" Inherits="upc_website.weather1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Weather</title>
<asp:ContentPlaceHolder ID="headContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
